{% extends 'chipin/base.html' %}
{% block content %}
    <style>
        /* Import a Google Font */
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            background-color: #f2dbb7;
            font-family: 'Parkinsans', sans-serif; /* Applying Roboto font to the entire body */
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700; /* Bold style */
        }

        p, a {
            font-family: 'Roboto', sans-serif;
            font-weight: 400; /* Regular style */
        }
    </style>
<h2>Create Event for {{ group.name }}</h2>

<form method="POST">
    {% csrf_token %}
    <div>
        <label for="name">Event Name</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label for="date">Event Date</label>
        <input type="date" name="date" required>
    </div>
    <div>
        <label for="total_spend">Total Spend</label>
        <input type="number" name="total_spend" step="1.00" required>
    </div>
    <button type="submit">Create Event</button>
</form>

<a href="{% url 'chipin:group_detail' group.id %}">Back to Group</a>
{% endblock %}