{% extends 'chipin/base.html' %}

{% block title %}Create a New Group{% endblock %}

{% block content %}
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            background-color: #f2dbb7;
            font-family: 'Parkinsans', sans-serif;
        }

        h2 {
            font-family: 'Parkinsans', sans-serif;
            font-weight: 700;
        }

        p, a {
            font-family: 'Parkinsans', sans-serif;
            font-weight: 400;
        }
    </style>

    <h1>Create a New Group</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Group</button>
    </form>
    <a href="{% url 'chipin:home' %}">Back to Homepage</a>
{% endblock %}