{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Invite Users to {{ group.name }}{% endblock %}
{% block content %}
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            background-color: #f2dbb7;
            font-family: 'Parkinsans', sans-serif; 
        }

        h2 {
            font-family: 'Parkinsans', sans-serif;
            font-weight: 700;
        }

        p, a {
            font-family: 'Parkinsans', sans-serif;
            font-weight: 400;
        }
    </style>

     <h1>Invite Users to {{ group.name }}</h1>
     <form method="post">
         {% csrf_token %}
         <label for="user_id">Select User to Invite:</label>
         <select name="user_id" id="user_id" required>
             <option value="">Select a user</option>
             {% for user in users_not_in_group %}
                 <option value="{{ user.id }}">{{ user.profile.nickname }}</option>
             {% endfor %}
         </select>
         <button type="submit">Send Invitation</button>
     </form>
 {% endblock %}